@charset "UTF-8";
.container1{  
   width:627x;  
   border:1px solid #808080;  
   height:18px;  
 }
#bar{  
   background:#808080;  
   float:left; 
   height:100%;  
   text-align:center;  
   line-height:150%; 
 }  