	<div class="col-md-6">
	<select id="cmbProvince" name="cmbProvince" style="margin-left:-80px"></select>  
    <select id="cmbCity" name="cmbCity"></select>  
    <select id="cmbArea" name="cmbArea"></select>  &nbsp; &nbsp;
    <p></p>
    <button type="button" class="btn btn-primary" onClick="jsCopyRequ();" style="margin-left:-0px">复制请求报文</button>
	<button type="button" class="btn btn-primary" onClick="testByone();" >测试此接口</button>
	<button type="button" class="btn btn-primary" onClick="testByBatch();" >批量测试</button>
	
	<div style="padding: 30px 0px 20px;">
		<div class="input-group">
			<span class="input-group-addon">指定手机号</span>
			<input type="text" class="form-control" id="phoneNumber"  placeholder="默认18878722354">
		</div>
    </div>
    <textarea class="form-control" rows="18"  id="requestDTO"></textarea>

    <script type="text/javascript">  
         addressInit('cmbProvince', 'cmbCity', 'cmbArea');
         //设置全局同步，$.post默认是异步的，既ajax程序之外的代码有可能执行
         $.ajaxSetup({ 
        	    async : false 
        	}); 
        
         
         //点击"复制请求参数"按钮，复制文本域内容到剪切板
         function jsCopyRequ(){   
             var e=document.getElementById("requestDTO");//对象是contents   
             e.select(); //选择对象   
             tag=document.execCommand("Copy"); //执行浏览器复制命令  
             if(!tag){  
               alert('复制失败');  
             }  
         }
         
       //点击"复制请求参数"按钮，复制文本域内容到剪切板
         function jsCopyResPon(){   
             var e=document.getElementById("returnText");//对象是contents   
             e.select(); //选择对象   
             tag=document.execCommand("Copy"); //执行浏览器复制命令  
             if(!tag){  
               alert('复制失败');  
             }  
         }
       
       
        //点击"测试该接口"按钮，测试该lua接口
         function testByone(){
        	 getResPon();
        	 $("#returnText").val("");
        	 var params = $("#requestDTO").val(); //获取请求参数
        	 var url = "test/testApi";
             $.post(url,{"params":params},function(data){
            	 $("#returnText").val(data); 
             })
         }
         
         //点击批量测试按钮，按批次测量接口
         function testByBatch(){
        	 document.getElementById("bar").style.width="0%";
        	 $("#returnText").val("");
        	 var url = "test/testApiByBatch";
        	 var batchNumber = $("#cmbProvince").val();
        	 $("#requestDTO").val(batchNumber + "批量测试------------->>>>>>>>>");
        	 var batchArr;
        	 switch(batchNumber){
        	    case "第二批":
        	    	batchArr = ["第二批_gx027安心包 _是否已开通安心包",
				        		 "第二批_gx027安心包 _开通安心包",
				        		 "第二批_gx028放心用_是否已开通放心用",
				        		 "第二批_gx028放心用_开通放心用",
				        		 "第二批_gx021套餐资费查询_套餐资费查询",
				        		 "第二批_gx021套餐资费查询_查询本月套餐",
				        		 "第二批_gx022套餐分钟数查询_套餐分钟数查询",
				        		 "第二批_gx015套餐办理_查询本月套餐",
				        		 "第二批_gx016飞享套餐18元档_下月是否有18元飞享套餐",
				        		 "第二批_gx016飞享套餐18元档_本月是否有18元飞享套餐",
				        		 "第二批_gx016飞享套餐18元档_查询本月套餐",
				        		 "第二批_gx016飞享套餐18元档_开通18元飞享套餐",
				        		 "第二批_gx017飞享套餐38元档_下月是否有38元飞享套餐",
				        		 "第二批_gx017飞享套餐38元档_本月是否有38元飞享套餐",
				        		 "第二批_gx017飞享套餐38元档_查询本月套餐",
				        		 "第二批_gx017飞享套餐38元档_开通38元飞享套餐",
				        		 "第二批_gx018飞享套餐58元档_下月是否有58元飞享套餐",
				        		 "第二批_gx018飞享套餐58元档_本月是否有58元飞享套餐",
				        		 "第二批_gx018飞享套餐58元档_查询本月套餐",
				        		 "第二批_gx018飞享套餐58元档_开通58元飞享套餐",
				        		 "第二批_gx007移动数据流量套餐办理_当月是否开通流量套餐",
				        		 "第二批_gx009 20元移动数据流量套餐开通_当月是否开通流量套餐",
				        		 "第二批_gx009 20元移动数据流量套餐开通_下月是否有20元流量套餐",
				        		 "第二批_gx009 20元移动数据流量套餐开通_开通20元流量套餐",
				        		 "第二批_gx010 30元移动数据流量套餐开通_当月是否开通流量套餐",
				        		 "第二批_gx010 30元移动数据流量套餐开通_下月是否有30元流量套餐",
				        		 "第二批_gx010 30元移动数据流量套餐开通_开通30元流量套餐",
				        		 "第二批_gx011 50元移动数据流量套餐开通_当月是否开通流量套餐",
				        		 "第二批_gx011 50元移动数据流量套餐开通_下月是否有50元流量套餐",
				        		 "第二批_gx011 50元移动数据流量套餐开通_开通50元流量套餐",
				        		 "第二批_gx038 70元移动数据流量套餐开通_当月是否开通流量套餐",
				        		 "第二批_gx038 70元移动数据流量套餐开通_下月是否有70元流量套餐",
				        		 "第二批_gx038 70元移动数据流量套餐开通_开通70元流量套餐"];
        	    	break;
        	    case "第一批":
        	    	batchArr = ["第一批_gx001话费查询 _是否有话费记录",
		        	    		"第一批_gx001话费查询 _是否开通139邮箱",
		        	    		"第一批_gx001话费查询 _下发139邮箱",
		        	    		"第一批_gx002已开通业务查询_查询已开通业务（根据短信指令，下发短信）",
		        	    		"第一批_gx012已办活动查询_下发已办活动查询短信",
		        	    		"第一批_gx013交费记录查询_查询交费记录（短信不由业务端下发）",
		        	    		"第一批_gx013交费记录查询_是否开通139邮箱",
		        	    		"第一批_gx013交费记录查询_下发139邮箱",
		        	    		"第一批_gx019返还记录查询_返还记录查询（短信不由业务端下发）",
		        	    		"第一批_gx019返还记录查询_是否开通139邮箱",
		        	    		"第一批_gx019返还记录查询_下发139邮箱",
		        	    		"第一批_gx003账单查询_查询月份选项语音内容(历史话费)",
		        	    		"第一批_gx003账单查询_是否智能机",
		        	    		"第一批_gx003账单查询_查询历史话费",
		        	    		"第一批_gx003账单查询_下发139邮件",
		        	    		"第一批_gx005流量查询_查询实时流量"];
        	    	break;
        	    case "第三批":
        	    	alert("第三批老子还没写");
        	    	return;

        	 }
        	 
        	 
        	    for(var j = 0,len = batchArr.length; j < len; j++){//优化的for循环，避免重复计算长度
       		    console.log(batchArr[j]);
       		    $.post(url,{"param":batchArr[j]},function(data){
                  	$("#returnText").val(cont + "\n***********************************\n"  + data);
                })
                if(j==len-1)
                    run(100/len,true);
                else
                    run(100/len,false);
        	 }
        	/*  var temp = $("#returnText").val();
        	 $("#returnText").val(temp + "\n测试完成。。。。") */
         }
         
         function getResPon(){
        	 document.getElementById("bar").style.width="0%";
             var key = $("#cmbProvince").val()+"_"+$("#cmbCity").val()+"_"+$("#cmbArea").val();
             var phoneNumber = $("#phoneNumber").val();
             if(phoneNumber.length>0 && phoneNumber.length!=11){
            	 alert("手机号必须为11位!");
            	 return;
             }
             var url = "requestDto/getBody";
             $.post(url,{"key":key,"phoneNumber":phoneNumber},function(rd){
            	 $("#requestDTO").val(rd); 
             })
         }
         
         $(".col-md-6").bind("change",function(){
        	 getResPon();
         });
     </script>  
     
</div>
		
<div class="col-md-6">
    <p>返回报文 &nbsp; &nbsp;<button type="button" class="btn btn-primary" onClick="jsCopyResPon();">复制返回报文</button></p>
    <div class="container1"> 
    <div id="bar" style="width:0%;"></div>  
    </div>  
    <script type="text/javascript">  
		  function run(percent,isOver){  
			var bar = document.getElementById("bar"); 
			if(isOver==false)
			    bar.style.width=parseInt(bar.style.width) + percent + "%"; 
			else
				bar.style.width="100%"; 
		  } 
    
</script> 
	<textarea class="form-control" rows="22"  id="returnText"></textarea>
</div>