<!-- 参考 http://blog.csdn.net/zbw18297786698/article/details/71940731 -->
<div class="col-md-6">
   <div style="margin-left: 130px;margin-top: 40px;">
    
    <ul id="treeDemo" class="ztree" style="margin-top: 10px; width: 20px; height: 50px;"></ul>
    
  </div>  
  
    <script type="text/javascript"> 
    function createTree(url, treeId) {
        var zTree; //用于保存创建的树节点
        var setting = { //设置
            check: {
                enable: true
            },
            view: {
                showLine: true, //显示辅助线
                dblClickExpand: true,
            },
            data: {
                simpleData: {
                    enable: true,
                    idKey: "id",
                    pIdKey: "pid",
                    rootPId: 0
                }
            }
        };
         $.ajax({ //请求数据,创建树
            type: 'GET',
            url: "init/getNodes",
            dataType: "json", //返回的结果为json  
            success: function(data) {
            	if(data==""||data==null)
            		alert("接口数据初始化失败！！！\n\n请把 initail_tps.xls 放在 D 盘根目录下，\n\n表单元格不允许空或纯数字！！！");
                zTree = $.fn.zTree.init($(treeId), setting, data); //创建树
            },
            error: function(data) {
            	alert("接口数据初始化失败！！！\n请把 initail_tps.xls 放在 D 盘根目录下，\n表单元格不允许空或纯数字！！！");
            }
        }); 
       
    }
    
     /*点击"复制返回报文"按钮，复制文本域内容到剪切板*/
    /* function jsCopyResPon(){   
        var e=document.getElementById("returnText");//对象是contents   
        e.select(); //选择对象   
        tag=document.execCommand("Copy"); //执行浏览器复制命令  
        if(!tag){  
          alert('复制失败');  
        }  
    }  */
    
    /*清空文本域，进度条归0*/
    function clearResPon(){
		  $("#returnText").val("");
		  returnZero();
		 //alert("你好");
	 }
    
    /*采用递归的方法进行循环ajax调用*/
    function Loop_ajax(index, array) {
        if (index < array.length) {           
            var param = array[index];
            var cont = $("#returnText").val();
            $.post("test/testBatchApi", {"param": param }, function (data) {
           	 $("#returnText").val(cont + "\n****************************************************************\n"  + data);
                console.log(array[index] + "," + data);
                run(100/array.length,false);
                if (index < array.length) {
                    Loop_ajax(index + 1, array);                    
                }
            });
        }
        else
       	 run(100/array.length,true); 
    }
    
    /*进度条归0*/
    function returnZero(){
    	var bar = document.getElementById("bar"); 
    	bar.style.width = 0;
    }
    
    /*文档加载完后激活后要做的*/
    $(document).ready(function() {
        createTree("jsonData.json", "#treeDemo"); //创建
        $("#testing").hide();
        $("#startTest").click(function() {
        	returnZero();
        	
            var treeObj = $.fn.zTree.getZTreeObj("treeDemo");
            var nodes = treeObj.getCheckedNodes(true);
            if(0 === nodes.length) {
                alert("请选择一个或多个接口!");
                return;
            }
            
            var dataNodes = "";
            for(var i = 0; i < nodes.length; i++) {
                if(nodes[i].attr!=""){
                	if(i !=nodes.length-1)
                		dataNodes += nodes[i].attr + ",";
                	else
                		dataNodes += nodes[i].attr;
                }
            }
           //// alert(dataNodes); //获取选中节点的值
            var array = dataNodes.split(",");
            $("#testing").show();
            Loop_ajax(0, array);
            
        });
    });
    </script>
</div>

<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="myModalLabel">
					如何使用?
				</h4>
			</div>
			<div class="modal-body">
				<p align="left">1.在"接口批量测试小工具"文件夹中找到initial_tps.xls文件。</p>
				<p align="left">2.参照文件中的内容格式，填写本省的接口的批次、业务、接口、url、入参。注意
				                                                                这五项不能为空或者纯数字，否则会报错。</p>
				<p align="left">3.将编辑好的initial_tps.xls文件放在D盘根目录下。</p>
				<p align="left">4.双击run_firefox.bat (如果你的云桌面用的是firefox浏览器)打开工具。</p>
				<p align="left">5.如果命令行提示是否结束此批处理操作，则关闭，右键，以管理员身份运行run_firefox。</p>
				<p align="left">6.勾选一个或多个接口节点，点击开始测试，即可在文本域中看到返回报文等信息。</p>
				
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭
				</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->
</div>


<div class="col-md-6">
    <p>
        <img src="views/timg.gif" height="50" width="50" alt="" id="testing"/>
        <button type="button" class="btn btn-primary" id="startTest">测试</button>
        <!-- <button type="button" class="btn btn-primary" onClick="jsCopyResPon();">复制返回报文</button>  -->
        <button type="button" class="btn btn-primary" onClick="clearResPon();">清空</button>
        <!-- 按钮触发模态框 -->
        <button class="btn btn-primary" data-toggle="modal" data-target="#myModal">	帮助
         </button>
    </p>
    <div class="container1"> 
    <div id="bar" style="width:0%;"></div>  
    </div>  
    <textarea class="form-control" rows="22"  id="returnText"></textarea>
    
    <script type="text/javascript">  
		  function run(percent,isOver){ 
			var bar = document.getElementById("bar"); 
			if(isOver==false)
			    bar.style.width=parseInt(bar.style.width) + percent + "%"; 
			else{
				bar.style.width="100%"; 
			    $("#testing").hide();
			}
				
		  } 
   </script> 
</div>