<!-- 参考 http://blog.csdn.net/zbw18297786698/article/details/71940731 -->

<div class="col-md-4">
   <div style="margin-left: 20px;margin-top: 20px; width:360px; height:500px; overflow:auto;">
    <ul id="treeDemo" class="ztree" style="margin-top: 0px; width: 20px; height: 60px;"></ul>
   </div> 
</div>

<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="myModalLabel">
					如何使用?
				</h4>
			</div>
			<div class="modal-body">
				<p align="left">1.在"接口批量测试小工具"文件夹中找到initial_tps.xls文件。</p>
				<p align="left">2.参照文件中的内容格式，填写本省的接口的批次、业务、接口、url、入参。注意
				                                                                这五项不能为空或者纯数字，否则会报错。不同批次中的相同业务也要区分开来，不然会合并到一个批次中。</p>
				<p align="left">3.将编辑好的initial_tps.xls文件放在D盘根目录下。</p>
				<p align="left">4.双击run_firefox.bat (如果你的云桌面用的是firefox浏览器)打开工具。如果使用chrome或者其他浏览器，请点双击文件夹中对应的bat文件。</p>
				<p align="left">5.如果命令行提示"是否结束此批处理操作Y/N?"，则关闭，右键，以管理员身份运行run_firefox。</p>
				<p align="left">6.勾选一个或多个接口节点，点击测试按钮，即可在文本域中看到返回报文等信息。</p>
				<p align="left">7.在小工具文件夹logs目录下可查看工具使用日志。</p>
				
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭
				</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->
</div>

<div class="col-md-3">
    <div class="panel panel-default">
	   <div class="panel-heading">
		  <h3 class="panel-title">
			   请求参数	
		  </h3>
	   </div>
	   <div class="panel-body">
		  <textarea class="form-control" rows="21"  id="requestParam" ></textarea>
		 <button type="button" class="btn btn-primary" onClick="jsCopyResPon();">复制</button>
		  <!-- <button type="button" class="btn btn-primary" onClick="saveRequParam();">保存 </button> -->
		  <button type="button" class="btn btn-primary" onClick="updateRequParam();">更新 </button>
	   </div>
    </div>
</div>

<div class="col-md-5">
    <div class="panel panel-default">
	   <div class="panel-heading">
		  <div class="container1"> 
                <div id="bar" style="width:0%;" ></div>  
          </div>
         <!--  <h3 class="panel-title">
			   返回报文
		  </h3> -->
	   </div>
	   <div class="panel-body">
				<textarea class="form-control" rows="21"  id="returnText" heightInLines="NaN" widthInChars="NaN"></textarea>
				<img src="views/timg.gif" height="30" width="30" alt="" id="testing"/>
		        <button type="button" class="btn btn-primary" id="startTest">测试</button>
		        <!-- <button type="button" class="btn btn-primary" onClick="jsCopyResPon();">复制返回报文</button>  -->
		        <button type="button" class="btn btn-primary" onClick="clearResPon();">清空</button>
		        <!-- 按钮触发模态框 -->
		        <button class="btn btn-primary" data-toggle="modal" data-target="#myModal">	帮助 </button>
	   </div>
    </div>
    
</div>
<script type="text/javascript" src="js/view2.js"></script>